body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 100px; 
    background-color: white;
}
/* Navbar Styling */
.navbar {
    background-color: white;
    padding: 1rem 2rem;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Adds a shadow for better visibility */
    }
    .navbar-brand {
        font-size: 1.5rem;
        font-weight: bold;
        display: flex;
        align-items: center;
        margin-left: 60px;
    }
    .navbar-brand img {
        width: 50px;
        height: 50px;
        margin-left: 50px;
        margin-right:10px;
    }
    .nav-link {
        color: black !important;
        font-weight: 700;
        margin-right: 30px;
    }
    .nav-link.active {
        color: #007bff !important;
        font-weight: bold;
    
    }
    .rating-stars {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }

    .rating-stars input {
        display: none;
    }

    .rating-stars label {
        font-size: 2rem;
        color: gray;
        cursor: pointer;
    }

    .rating-stars input:checked ~ label,
    .rating-stars label:hover,
    .rating-stars label:hover ~ label {
        color: gold;
    }
    .accordion-body .mt-4 h1{
        font-size: 2rem;
        font-weight: bold;
    }